/* Colomanie, un framework maison sans fioritures */

/* pour besoins de débug */
.dbg { background-color: pink; }
.dbg .dbg { background-color: yellow; }
.dbg .dbg .dbg { background-color: cyan; }
.dbg .dbg:nth-of-type(even) { background-color: silver; }

/* variables -----------------------------------------------------------------*/
@grille: 12;
@gutter: 0.9375rem;

@max-width: 62.5rem;

/* cf foundation pour les breakpoints */

/* mixins --------------------------------------------------------------------*/
.pdX(@px) {
  padding-left: @px;
  padding-right: @px;
}

.pdY(@px) {
  padding-top: @px;
  padding-bottom: @px;
}

.mgX(@px) {
  margin-left: @px;
  margin-right: @px;
}

.mgY(@px) {
  margin-top: @px;
  margin-bottom: @px;
}

/* clearfix hack */
/* voir http://nicolasgallagher.com/micro-clearfix-hack */
.cf {
  *zoom: 1; /* IE 6/7 */
  &:before, /* pour éviter la fusion des marges */
  &:after { content: " "; display: table; }
  &:after { clear: both; }
}

/* grille --------------------------------------------------------------------*/

/* .bloc, destiné à être l'élément racine d'une grille */
.blc {
  .pdX((@gutter / 2));

  @media (min-width: @max-width) {
    .pdX(0);
  }
}

/* lgn, destiné à accueillir les colonnes */
.lgn {
  .cf;
  width: 100%;

  @media (min-width: @max-width) {
    max-width: @max-width;
    .mgX(auto);
  }
}

/* col, bah, une colonne quoi */
.col {
  @media (min-width: @max-width) {
    float: left;
    &.rght { float: right; }
  }
}

/* définition des col */
.make-lg(@grille, @i: 1) when (@i =< @grille) {
  .lg@{i} {
    width: (@i * 100% / @grille);
  }
  .make-lg(@grille, (@i + 1));
}

/* création des col */
@media (min-width: @max-width) {
  .make-lg(@grille);
}

/* reset ---------------------------------------------------------------------*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}