.dbg {
  background-color: pink;
}
.dbg .dbg {
  background-color: yellow;
}
.dbg .dbg .dbg {
  background-color: cyan;
}
.dbg .dbg:nth-of-type(even) {
  background-color: silver;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.blc {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
@media (min-width: 783px) and (max-width: 991px), (min-width: 1007px) and (max-width: 1199px), (min-width: 1215px) {
  .blc {
    padding-left: 0;
    padding-right: 0;
  }
}
.ctn {
  width: 100%;
}
.ctn:before,
.ctn:after {
  content: " ";
  display: table;
}
.ctn:after {
  clear: both;
}
@media (min-width: 768px) {
  .ctn {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .ctn {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .ctn {
    max-width: 1170px;
  }
}
.lgn:before,
.lgn:after {
  content: " ";
  display: table;
}
.lgn:after {
  clear: both;
}
.col {
  float: left;
  width: 100%;
}
.col.rght {
  float: right;
}
.xs1 {
  width: 8.33333333%;
}
.xs2 {
  width: 16.66666667%;
}
.xs3 {
  width: 25%;
}
.xs4 {
  width: 33.33333333%;
}
.xs5 {
  width: 41.66666667%;
}
.xs6 {
  width: 50%;
}
.xs7 {
  width: 58.33333333%;
}
.xs8 {
  width: 66.66666667%;
}
.xs9 {
  width: 75%;
}
.xs10 {
  width: 83.33333333%;
}
.xs11 {
  width: 91.66666667%;
}
.xs12 {
  width: 100%;
}
@media (min-width: 768px) {
  .sm1 {
    width: 8.33333333%;
  }
  .sm2 {
    width: 16.66666667%;
  }
  .sm3 {
    width: 25%;
  }
  .sm4 {
    width: 33.33333333%;
  }
  .sm5 {
    width: 41.66666667%;
  }
  .sm6 {
    width: 50%;
  }
  .sm7 {
    width: 58.33333333%;
  }
  .sm8 {
    width: 66.66666667%;
  }
  .sm9 {
    width: 75%;
  }
  .sm10 {
    width: 83.33333333%;
  }
  .sm11 {
    width: 91.66666667%;
  }
  .sm12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .md1 {
    width: 8.33333333%;
  }
  .md2 {
    width: 16.66666667%;
  }
  .md3 {
    width: 25%;
  }
  .md4 {
    width: 33.33333333%;
  }
  .md5 {
    width: 41.66666667%;
  }
  .md6 {
    width: 50%;
  }
  .md7 {
    width: 58.33333333%;
  }
  .md8 {
    width: 66.66666667%;
  }
  .md9 {
    width: 75%;
  }
  .md10 {
    width: 83.33333333%;
  }
  .md11 {
    width: 91.66666667%;
  }
  .md12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .lg1 {
    width: 8.33333333%;
  }
  .lg2 {
    width: 16.66666667%;
  }
  .lg3 {
    width: 25%;
  }
  .lg4 {
    width: 33.33333333%;
  }
  .lg5 {
    width: 41.66666667%;
  }
  .lg6 {
    width: 50%;
  }
  .lg7 {
    width: 58.33333333%;
  }
  .lg8 {
    width: 66.66666667%;
  }
  .lg9 {
    width: 75%;
  }
  .lg10 {
    width: 83.33333333%;
  }
  .lg11 {
    width: 91.66666667%;
  }
  .lg12 {
    width: 100%;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
