.dbg {
  background-color: pink;
}
.dbg .dbg {
  background-color: yellow;
}
.dbg .dbg .dbg {
  background-color: cyan;
}
.dbg .dbg:nth-of-type(even) {
  background-color: silver;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.blc {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
@media (min-width: 960px) {
  .blc {
    padding-left: 0;
    padding-right: 0;
  }
}
.lgn {
  width: 100%;
}
.lgn:before,
.lgn:after {
  content: " ";
  display: table;
}
.lgn:after {
  clear: both;
}
@media (min-width: 960px) {
  .lgn {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 960px) {
  .col {
    float: left;
  }
  .col.rght {
    float: right;
  }
}
@media (min-width: 960px) {
  .lg1 {
    width: 8.33333333%;
  }
  .lg2 {
    width: 16.66666667%;
  }
  .lg3 {
    width: 25%;
  }
  .lg4 {
    width: 33.33333333%;
  }
  .lg5 {
    width: 41.66666667%;
  }
  .lg6 {
    width: 50%;
  }
  .lg7 {
    width: 58.33333333%;
  }
  .lg8 {
    width: 66.66666667%;
  }
  .lg9 {
    width: 75%;
  }
  .lg10 {
    width: 83.33333333%;
  }
  .lg11 {
    width: 91.66666667%;
  }
  .lg12 {
    width: 100%;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
